<div class="main-content">
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-headline">
                <div class="panel-heading">
                    <h2 class="panel-title" style="font-size: 30px;">Профили</h2>
                </div>
            </div>
            <div class="panel-body">
                <jhi-alert></jhi-alert>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4 no-padding-left">
                            <button class="btn btn-primary" ui-sref="profile.new" >
                                <span class="glyphicon glyphicon-plus"></span>
                                <span >
                            Добавить профиль
                        </span>
                            </button>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <thead>
                        <tr>
                            <th><span>ID</span></th>
                            <th><span>First Name</span></th>
                            <th><span>Last Name</span></th>
                            <th><span>Phone</span></th>
                            <th><span>Address</span></th>
                            <th><span>Email</span></th>
                            <th><span>Passport</span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="profile in vm.profiles track by profile.id">
                            <td><a ui-sref="profile-detail({id:profile.id})">{{profile.id}}</a></td>
                            <td>{{profile.firstName}}</td>
                            <td>{{profile.lastName}}</td>
                            <td>{{profile.phone}}</td>
                            <td>{{profile.address}}</td>
                            <td>{{profile.email}}</td>
                            <td>{{profile.passport}}</td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="profile-detail({id:profile.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span class="hidden-sm-down"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="profile.edit({id:profile.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-sm-down"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="profile.delete({id:profile.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-sm-down"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
