<div class="main-content">
    <div class="container-fluid">
        <h2 style="text-align: center;"><span>Профиль</span> {{vm.profile.id}}</h2>
        <hr>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <dl class="dl-horizontal jh-entity-details">
                            <dt><span>First Name</span></dt>
                            <dd>
                                <span>{{vm.profile.firstName}}</span>
                            </dd>
                            <dt><span>Last Name</span></dt>
                            <dd>
                                <span>{{vm.profile.lastName}}</span>
                            </dd>
                            <dt><span>Phone</span></dt>
                            <dd>
                                <span>{{vm.profile.phone}}</span>
                            </dd>
                            <dt><span>Address</span></dt>
                            <dd>
                                <span>{{vm.profile.address}}</span>
                            </dd>
                            <dt><span>Email</span></dt>
                            <dd>
                                <span>{{vm.profile.email}}</span>
                            </dd>
                            <dt><span>Passport</span></dt>
                            <dd>
                                <span>{{vm.profile.passport}}</span>
                            </dd>
                        </dl>
                    </div>
                    <div class="panel-footer">
                        <div class="text-center">
                            <jhi-alert-error></jhi-alert-error>
                            <button type="submit"
                                    ui-sref="{{ vm.previousState }}"
                                    class="btn btn-info">
                                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
                            </button>
                            <button type="button" ui-sref="profile-detail.edit({id:vm.profile.id})" class="btn btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"> Edit</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
