<div class="sidebar-scroll">
    <div class="account-info">
        <img src="/content/images/user-account.png" alt="Account photo" style="max-width: 35%;">
        <p>{{vm.account.login}}</p>
        <span>{{vm.account.email}}</span>
        <hr>
    </div>
    <nav>
        <ul class="nav">
            <li>
                <a ui-sref="dashboard-home" ui-sref-active="active"><i class="fa fa-home"></i> <span>Главная</span></a>
            </li>
            <li has-authority="ROLE_BANKIR">
                <a ui-sref="employees" ui-sref-active="active"><i class="fa fa-list-alt"></i> <span>Сотрудники</span></a>
            </li>
            <li  has-authority="ROLE_BANKIR">
                <a ui-sref="bank" ui-sref-active="active"><i class="fa fa-user-o"></i><span>Банки</span></a>
            </li>
            <li has-authority="ROLE_USER">
            <a ui-sref="profile" ui-sref-active="active"><i class="fa fa-bars"></i> <span>Профили</span></a>
            </li>
            <li has-authority="ROLE_USER">
                <a ui-sref="count" ui-sref-active="active"><i class="fa fa-user-o"></i> <span>Счета</span></a>
            </li>
            <li has-authority="ROLE_ADMIN">
                <a ui-sref="user-management" ui-sref-active="active"><i class="fa fa-book"></i> <span>Пользователи</span></a>
            </li>
            <li>
                <a ng-click="vm.logout()" ui-sref-active="active"><i class="fa fa-sign-out"></i> <span>Выход</span></a>
            </li>
        </ul>
    </nav>
</div>
