<!-- MAIN CONTENT -->
<div class="main-content">
    <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
                <div class="text-center">
                    <h3>
                        Реализация домашнего задания на позицию Java Junior'a
                    </h3>
                </div>
            </div>
        </div>
        <!-- END OVERVIEW -->
    </div>
</div>
<!-- END MAIN CONTENT -->
