<style>
    .navbar, .sidebar, .main {
        display: none;
    }
</style>
<div ng-cloak class="background-image-error" style="position:  absolute; height:  100%;  width:  100%;">
    <div class="row" style="width: 100%; height: 100%;  display: table;">
        <div class="col-md-4 no-float"></div>
        <div class="col-md-4 no-float" style="vertical-align: middle; text-align: center; color: #f9f8f8; font-size: 62px; margin-bottom: 30px;">
            <h1>Доступ запрещен</h1>

            <div class="alert alert-danger" style="font-size: 17px;">{{errorMessage}}</div>
        </div>
        <div class="col-md-4 no-float"></div>
    </div>
</div>

