<div class="main-content">
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-headline">
                <div class="panel-heading">
                    <h2 class="panel-title" style="font-size: 30px;">Employees</h2>
                </div>
            </div>
            <div class="panel-body">
                <jhi-alert></jhi-alert>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4 no-padding-left">
                            <button class="btn btn-primary" ui-sref="employees.new" >
                                <span class="glyphicon glyphicon-plus"></span>
                                <span >
                            Create new Employees
                        </span>
                            </button>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <thead>
                        <tr>
                            <th><span>ID</span></th>
                            <th><span>Name</span></th>
                            <th><span>Address</span></th>
                            <th><span>Position</span></th>
                            <th><span>Salary</span></th>
                            <th><span>Bank</span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="employees in vm.employees track by employees.id">
                            <td><a ui-sref="employees-detail({id:employees.id})">{{employees.id}}</a></td>
                            <td>{{employees.name}}</td>
                            <td>{{employees.address}}</td>
                            <td>{{employees.position}}</td>
                            <td>{{employees.salary}}</td>
                            <td>
                                <a ui-sref="bank-detail({id:employees.bankId})">{{employees.bankId}}</a>
                            </td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="employees-detail({id:employees.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span class="hidden-sm-down"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="employees.edit({id:employees.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-sm-down"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="employees.delete({id:employees.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-sm-down"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
