<div class="main-content">
    <div class="container-fluid">
    <h2 style="text-align: center;"><span>Сотрудник</span> {{vm.employees.name}}</h2>
    <hr>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <jhi-alert-error></jhi-alert-error>
                        <dl class="dl-horizontal jh-entity-details">
                            <dt><span>Name</span></dt>
                            <dd>
                                <span>{{vm.employees.name}}</span>
                            </dd>
                            <dt><span>Address</span></dt>
                            <dd>
                                <span>{{vm.employees.address}}</span>
                            </dd>
                            <dt><span>Position</span></dt>
                            <dd>
                                <span>{{vm.employees.position}}</span>
                            </dd>
                            <dt><span>Salary</span></dt>
                            <dd>
                                <span>{{vm.employees.salary}}</span>
                            </dd>
                            <dt><span>Bank</span></dt>
                            <dd>
                                <a ui-sref="bank-detail({id:vm.employees.bankId})">{{vm.employees.bankId}}</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="panel-footer">
                        <div class="text-center">
                            <button type="submit"
                                    ui-sref="{{ vm.previousState }}"
                                    class="btn btn-info">
                                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
                            </button>

                            <button type="button" ui-sref="employees-detail.edit({id:vm.employees.id})" class="btn btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"> Edit</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
