<div ng-cloak style="position: absolute;width: 100%;height: 100%;">
    <div style="display: table; height: 100%; width: 100%; vertical-align: middle;">
        <div class="auth-box" style="display: table-cell">
            <div class="left"></div>
            <div class="right">
                <div class="content" style="width: 93%">
                    <div class="header">
                        <div class="alert alert-danger" ng-show="vm.authenticationError">
                            <strong>Failed to sign in!</strong> Please check your credentials and try again.
                        </div>
                        <p class="lead" style="font-size: 26px; font-weight: 500; color: #00aaff">Авторизация</p>
                    </div>
                    <form role="form" class="form" role="form" ng-submit="vm.login($event)">
                        <div class="form-group input">
                            <span class="fa fa-user-o spanWithIcon"></span>
                            <input type="text" class="form-control input-field-login-page" id="username" placeholder="Логин" ng-model="vm.username">
                        </div>
                        <div class="form-group input">
                            <span class="fa fa-envelope-open-o spanWithIcon"></span>
                            <input type="password" class="form-control input-field-login-page" id="password" placeholder="Пароль"  ng-model="vm.password">
                        </div>
                        <button type="submit" class="btn btn-primary text-center" style="margin-top: 27px;padding: 9px 141px;">Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Hide navbar && sidebar in index.html for login page -->
<style>
    .navbar, .sidebar, .main {
        display: none;
    }
</style>

