<div class="main-content">
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-headline">
                <div class="panel-heading">
                    <h2 class="panel-title" style="font-size: 30px;">Счета</h2>
                </div>
            </div>
            <div class="panel-body">
                <jhi-alert></jhi-alert>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4 no-padding-left">
                            <button class="btn btn-primary" ui-sref="count.new" >
                                <span class="glyphicon glyphicon-plus"></span>
                                <span >
                                    Добавить новый счет
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <thead>
                            <tr>
                                <th><span>ID</span></th>
                                <th><span>Money</span></th>
                                <th><span>Created</span></th>
                                <th><span>Profile</span></th>
                                <th><span>Bank</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="count in vm.counts track by count.id">
                                <td><a ui-sref="count-detail({id:count.id})">{{count.id}}</a></td>
                                <td>{{count.money}}</td>
                                <td>{{count.created | date:'medium'}}</td>
                                <td>
                                    <a ui-sref="profile-detail({id:count.profileId})">{{count.profileId}}</a>
                                </td>
                                <td>
                                    <a ui-sref="bank-detail({id:count.bankId})">{{count.bankId}}</a>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                ui-sref="count-detail({id:count.id})"
                                                class="btn btn-info btn-sm">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                            <span class="hidden-sm-down"></span>
                                        </button>
                                        <button type="submit"
                                                ui-sref="count.edit({id:count.id})"
                                                class="btn btn-primary btn-sm">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                            <span class="hidden-sm-down"></span>
                                        </button>
                                        <button type="submit"
                                                ui-sref="count.delete({id:count.id})"
                                                class="btn btn-danger btn-sm">
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                            <span class="hidden-sm-down"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
