<div class="main-content">
    <div class="container-fluid">
        <h2 style="text-align: center;"><span>Счет</span> {{vm.count.id}}</h2>
        <hr>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <dl class="dl-horizontal jh-entity-details">
                            <dt><span>Money</span></dt>
                            <dd>
                                <span>{{vm.count.money}}</span>
                            </dd>
                            <dt><span>Created</span></dt>
                            <dd>
                                <span>{{vm.count.created | date:'medium'}}</span>
                            </dd>
                            <dt><span>Profile</span></dt>
                            <dd>
                                <a ui-sref="profile-detail({id:vm.count.profileId})">{{vm.count.profileId}}</a>
                            </dd>
                            <dt><span>Bank</span></dt>
                            <dd>
                                <a ui-sref="bank-detail({id:vm.count.bankId})">{{vm.count.bankId}}</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="panel-footer">
                        <div class="text-center">
                            <jhi-alert-error></jhi-alert-error>
                            <button type="submit"
                                    ui-sref="{{ vm.previousState }}"
                                    class="btn btn-info">
                                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
                            </button>

                            <button type="button" ui-sref="count-detail.edit({id:vm.count.id})" class="btn btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"> Edit</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>




    </div>
</div>
